@using Hydraulic
@using Hydraulic.HydraulicComponents;
@using Shared

@inject SpawnEvents SpawnEvents
@inject ComponentRegister registry

<div class=" Components">
    <SectionHeader>Components</SectionHeader>
    <div class="grid-container">
        @foreach (var component in registry.GetComponents())
        {
            <div class="grid-item" @onclick='() => SpawnEvents.OnComponentSpawned(component.Key)'>
                <img src="@component.Value.displayState.RepresentativeImage" height="50px" width="50px" />
            </div>
        }
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
