<h3>PropEditor</h3>

<div>
    @*@foreach (var prop in props.GetType().GetProperties()) {
        <span>@prop.Name : </span>
        <input />
    @}*@

</div>
@using Hydraulic.HydraulicComponents.Properties;

@code {
    [Parameter]
    public IProperties props { get; set; }
}
