@using Blazor.Diagrams.Components.Renderers;

<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")">
    <span>Hello</span>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" Class="default"></PortRenderer>
    }
</div>

@code {
    [Parameter]
    public TestModel Node { get; set; }
}