@using Blazor.Diagrams.Components.Renderers;
@inject SpawnEvents SpawnEvents;

<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")"
     @onclick="() => SpawnEvents.OnComponentSelected(Node.Props)">
    <img src="@Node.Image" height="50" width="50"/>


    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" Class="default"></PortRenderer>
    }
</div>

@code {
    [Parameter]
    public TestModel Node { get; set; }
}