@inject AppEvents AppEvents

@using Hydraulic.HydraulicComponents.Properties

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Hydraulic</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<h2>Components</h2>

<div class=" Components">
    <div class="grid-container">
        @foreach (string component in menuComponents)
        {
            var imageURL = $"Images/Components/{component}";
            <div class="grid-item" @onclick='(()=>AppEvents.OnComponentClicked(new Pump(PumpType.FIXED_DISPLACEMENT), imageURL))'>
                <img src="@imageURL" height="50px" width="50px" />
            </div>
        }
    </div>
</div>




<!--
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>-->

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string[] menuComponents = { "AccumulatorBladder.png", "PumpFixedDisplacement.png", "CheckValve.png" };

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void InitialiseMenu(string[] newMenuComponents)
    {
        /*
        newMenuComponents =
        menuComponents = newMenuComponents;*/
    }

    private void SpawnComponent(string component)
    {

    }
}
